<div>
    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="about">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>About Us</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->
    <!-- ================ welcome section start ================= -->
    <section class="welcome pt-0 mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-fluid float-left p-3" alt="image1" src="../assets/img/about/01.jpg" />
                    <div class="p-3">
                        <h3>Welcome to <span style="font-size:26px; color:#0099cc">Brela</span></h3>
                        <p class="lead text-justify">Brela, the most beautiful place of Makarska Riviera and one of the most beautiful places on the Adriatic coast, the pearl of Croatian tourism is the perfect place for a quiet family holiday. Crystal clear sea, numerous sandy and gravel beaches and walking trails along the coast up to the very tops of the nearby Biokovo mountain will make your vacation an unforgettable experience.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img class="img-fluid float-right p-3" alt="image2" src="../assets/img/about/02.jpg" />
                    <div class="p-3">
                        <h3>Apartments Elvira</h3>
                        <p class="lead text-justify">Apartments Elvira are located in Jardula, a quiet part of Brela, located 1500 m from the center. The house is surrounded by pine trees and Mediterranean plants, and is just 50 meters from the beautiful gravel beach. Elvira Apartments are an ideal place to escape from the hustle and bustle. The house has 3 large apartments for a total of 13 people. All apartments have sea views. Parking spaces are provided near the house.</p>
                    </div>
                    <div class="text-center">
                        <a class="card-explore__link" href="" ng-click="go('gallery')">Gallery<i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img class="img-fluid float-left p-3" alt="image3" src="../assets/img/about/03.jpg" />
                    <div class="p-3">
                        <h3>Accommodation</h3>
                        <p class="lead">In the house of 180 m² there are 3 apartments for rent:</p>
                    </div>
                    <ul class="lead">
                        <li><a href="" ng-click="goApartment(1)" title="Apartment A1"><i class="fa fa-arrow-alt-circle-right"></i> Apartment A1 <small>(2+3, 45m² on the first floor)</small></a></li>
                        <li><a href="" ng-click="goApartment(2)" title="Apartment A2"><i class="fa fa-arrow-alt-circle-right"></i> Apartment A2 <small>(2+2, 45m² on the first floor)</small></a></li>
                        <li><a href="" ng-click="goApartment(3)" title="Apartment A3"><i class="fa fa-arrow-alt-circle-right"></i> Apartment A3 <small>(2+2, 40m² on the ground floor)</small></a></li>
                    </ul>
                    <div class="text-center pt-3">
                        <a class="card-explore__link" href="" ng-click="goApartment(0)">More info<i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <h3>Distances</h3>
                <table class="table table-sm">
                    <tr>
                        <td>
                            Sea:
                        </td>
                        <td>
                            50 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Gravel Beach:
                        </td>
                        <td>
                            50 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sandy Beach:
                        </td>
                        <td>
                            1500 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rocky Beach:
                        </td>
                        <td>
                            100 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nude Beach:
                        </td>
                        <td>
                            800 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Center:
                        </td>
                        <td>
                            1700 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            The closest Town:
                        </td>
                        <td>
                            12 km - Makarska
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Fish restaurant:
                        </td>
                        <td>
                            500 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Meat restaurant:
                        </td>
                        <td>
                            500 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Caffe bar:
                        </td>
                        <td>
                            100 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Grocery store:
                        </td>
                        <td>
                            400 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Market:
                        </td>
                        <td>
                            400 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Fish market:
                        </td>
                        <td>
                            5 km
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ambulance:
                        </td>
                        <td>
                            1500 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Pharmacy:
                        </td>
                        <td>
                            1500 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Dentist:
                        </td>
                        <td>
                            5 km
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bank:
                        </td>
                        <td>
                            1500 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cash machine:
                        </td>
                        <td>
                            1500 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Post Office:
                        </td>
                        <td>
                            1500 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tennis court:
                        </td>
                        <td>
                            1200 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Golf course:
                        </td>
                        <td>
                            50 km - Split
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sports center:
                        </td>
                        <td>
                            12 km - Makarska
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Wellness center:
                        </td>
                        <td>
                            1500 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Kids playground:
                        </td>
                        <td>
                            500 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Gas station:
                        </td>
                        <td>
                            10 km
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ferry port:
                        </td>
                        <td>
                            12 km - Makarska
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Catamaran port:
                        </td>
                        <td>
                            50 km - Split
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bus station:
                        </td>
                        <td>
                            500 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Marina:
                        </td>
                        <td>
                            5 km - Baška Voda
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Airport:
                        </td>
                        <td>
                            70 km - Split
                        </td>
                    </tr>
                </table>
            </div>

        </div>



        <!--<div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-4 mb-lg-0">
                    <div class="row no-gutters welcome-images">
                        <div class="col-sm-7">
                            <div class="card">
                                <img class="" src="img/home/welcomeBanner1.png" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="card">
                                <img class="" src="img/home/welcomeBanner2.png" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card">
                                <img class="" src="img/home/welcomeBanner3.png" alt="Card image cap">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="welcome-content">
                        <h2 class="mb-4"><span class="d-block">Welcome</span> to our residence</h2>
                        <p>Beginning blessed second a creepeth. Darkness wherein fish years good air whose after seed appear midst evenin, appear void give third bearing divide one so blessed moved firmament gathered </p>
                        <p>Beginning blessed second a creepeth. Darkness wherein fish years good air whose after seed appear midst evenin, appear void give third bearing divide one so blessed</p>
                        <a class="button button--active home-banner-btn mt-4" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>-->
    </section>
    <!-- ================ welcome section end ================= -->

</div>