<div>
    <!-- ================ start banner area ================= -->
    <banner-directive tpl="'calendar'"></banner-directive>
    <!-- ================ end banner area ================= -->

    <section class="mt-5 mb-5">
        <div class="container-fluid pl-5 pr-5">
            <div class="text-center">
                <h2>Calendar</h2>
                <h3>{{config.year}}</h3>
            </div>
            <hr />
            <div>
                <p>
                    <div style="display:inline-block; width:30px; height:30px; border:1px solid gray; background-color: #8d8"></div><span class="p-2">*Reserved</span>
                </p>
                <p>
                    <div style="display:inline-block; width:30px; height:30px; border:1px solid gray; background-color: #fff"></div><span class="p-2">*Available</span>
                </p>
            </div>
            <div id="timeline" style="height: 180px;min-width:1500px" class="pr-2"></div>
        </div>
    </section>
    <json-directive data="d" debug="config.debug" desc="'d'"></json-directive>
    <json-directive data="g" debug="config.debug" desc="'g'"></json-directive>
</div>

<style>
   svg g:first-of-type path {
    stroke: #e6e6e6;
}
svg g:first-of-type rect:not(:last-child) {
    fill: #ffffff;
}
</style>
