<div>
    <!-- ================ start banner area ================= -->
    <banner-directive tpl="'gallery'"></banner-directive>
    <!-- ================ end banner area ================= -->

    <!-- ================ start gallery section ================= -->
    <section class="mt-5 mb-5">
        <div class="container">
            <div class="section-intro text-center pb-3">
                <h2>Our Gallery</h2>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <a href="img/gallery/g1.jpg" class="img-gal card-img">
                                <div class="single-imgs relative">
                                    <div class="overlay overlay-bg"></div>
                                    <div class="relative">
                                        <img class="card-img rounded-0" src="../assets/img/gallery/g1.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 mb-4">
                            <a href="img/gallery/g2.jpg" class="img-gal card-img">
                                <div class="single-imgs relative">
                                    <div class="overlay overlay-bg"></div>
                                    <div class="relative">
                                        <img class="card-img rounded-0" src="../assets/img/gallery/g2.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-sm-7 mb-4">
                            <a href="img/gallery/g3.jpg" class="img-gal card-img">
                                <div class="single-imgs relative">
                                    <div class="overlay overlay-bg"></div>
                                    <div class="relative">
                                        <img class="card-img rounded-0" src="../assets/img/gallery/g3.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-5 mb-4">
                            <a href="img/gallery/g4.jpg" class="img-gal card-img">
                                <div class="single-imgs relative">
                                    <div class="overlay overlay-bg"></div>
                                    <div class="relative">
                                        <img class="card-img rounded-0" src="../assets/img/gallery/g4.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-4">
                            <a href="img/gallery/g5.jpg" class="img-gal card-img">
                                <div class="single-imgs relative">
                                    <div class="overlay overlay-bg"></div>
                                    <div class="relative">
                                        <img class="card-img rounded-0" src="../assets/img/gallery/g5.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7 mb-4">
                            <a href="img/gallery/g6.jpg" class="img-gal card-img">
                                <div class="single-imgs relative">
                                    <div class="overlay overlay-bg"></div>
                                    <div class="relative">
                                        <img class="card-img rounded-0" src="../assets/img/gallery/g6.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-5 mb-4">
                            <a href="img/gallery/g7.jpg" class="img-gal card-img">
                                <div class="single-imgs relative">
                                    <div class="overlay overlay-bg"></div>
                                    <div class="relative">
                                        <img class="card-img rounded-0" src="../assets/img/gallery/g7.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 mb-4">
                    <a href="img/gallery/g8.jpg" class="img-gal card-img">
                        <div class="single-imgs relative">
                            <div class="overlay overlay-bg"></div>
                            <div class="relative">
                                <img class="card-img rounded-0" src="../assets/img/gallery/g8.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-5 mb-4">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <a href="img/gallery/g9.jpg" class="img-gal card-img">
                                <div class="single-imgs relative">
                                    <div class="overlay overlay-bg"></div>
                                    <div class="relative">
                                        <img class="card-img rounded-0" src="../assets/img/gallery/g9.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-4">
                            <a href="img/gallery/g10.jpg" class="img-gal card-img">
                                <div class="single-imgs relative">
                                    <div class="overlay overlay-bg"></div>
                                    <div class="relative">
                                        <img class="card-img rounded-0" src="../assets/img/gallery/g10.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end gallery section ================= -->	
</div>
