<div>
    <!-- ================ start banner area ================= -->
    <banner-directive tpl="'price'"></banner-directive>
    <!-- ================ end banner area ================= -->

    <section class="mt-5 mb-5">
        <div class="container text-center">
            <h2>Prices</h2>
            <label>(apartment / day)</label>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th colspan="4"><label>Period</label></th>
                    </tr>
                    <tr class="bg-light">
                        <th>
                            <label>Apartment</label>
                        </th>
                        <th>15.9.-1.6.</th>
                        <th>1.6.-15.6.<br />1.9.-15.9.</th>
                        <th>15.6.-1.7.<br />25.8.-1.9</th>
                        <th>1.7.-25.8.</th>
                    </tr>
                    <tr>
                        <td>A1</td>
                        <td>50€</td>
                        <td>60€</td>
                        <td>70€</td>
                        <td>90€</td>
                    </tr>
                    <tr>
                        <td>A2</td>
                        <td>50€</td>
                        <td>60€</td>
                        <td>70€</td>
                        <td>90€</td>
                    </tr>
                    <tr>
                        <td>A3</td>
                        <td>50€</td>
                        <td>60€</td>
                        <td>70€</td>
                        <td>90€</td>
                    </tr>

                </table>
            </div>
        </div>
    </section>
</div>