html, body
{
    padding: 0;
    margin 0;
}

.boxShadow
{
    box-shadow: 1px 1px 10px Silver;
    border-radius: 5px;
    padding: 10px;
}

header
{
    padding: 10px 10px 10px 20px;
    background-color: Menu;
}

section
{
    padding: 20px;
}

th, td
{
    padding: 10px !Important;
}

.tableHeader
{
    background-color: Menu; /* #669999;*/
    color: Black;
}


.loginForm
{
    margin: 15% 30% 20% 30%;
    box-shadow: 1px 1px 10px Silver;
    border-radius: 5px;
    padding: 0px;
}

.calendarHearder
{
    background-color: Menu;
    text-align: center;
    padding: 5px;
    width: 80px;
    border-bottom: solid 2px Black;
}

.calendar
{
    text-align: center;
    padding: 5px;
    border: solid 1px Black;
    width: 80%;
    margin: 0 auto;
    
    
}

