<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString= "Data Source=SQL5008.Smarterasp.net;Initial Catalog=DB_9B2F52_ApartmentsElvira;User Id=DB_9B2F52_ApartmentsElvira_admin;Password=Tel546360;" /> 
	</connectionStrings>
	<appSettings>
		<add key="SiteUrl" value="http://www.apartmentselvira.com"/>
		<add key="ApplicationSettingsPath" value="/Xml/ApplicationSettings.xml"/>
	</appSettings>

	<system.web>
		<compilation debug="false" targetFramework="4.0">
		</compilation>
   <customErrors mode="On"/>
	</system.web>
</configuration>















